.movie-item {
    margin: 10px 0 10px 0;
    text-align: left;
}

.movie-image {
    width: 50%;
    margin: 0 auto;
}

.bold-title {
    font-weight: 700;
}

.back-button {
    padding: 4px 12px 4px 12px;
    background-color: Tan;
    color: SaddleBrown;
    border-radius: 5px;
    border: none;
}

