.movie-image {
    width: 50%;
}

.bold-title {
    font-weight: 700;
}

.back-button {
    padding: 4px 12px 4px 12px;
    background-color: Tan;
    color: SaddleBrown;
    border-radius: 5px;
    border: none;
}

.back-button:hover {
    background-color: Wheat;
}