$primary: Tan;
$body-bg: AntiqueWhite;
$body-color: SaddleBrown;

@import '~bootstrap/scss/bootstrap.scss';

body {
    margin-top: 20px;
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    font-weight: 400;
}

.form-field {
    border-color: saddlebrown;
}

a:link {
    text-decoration: none;
}

a:hover {
    opacity: 80%;
    background-color: $body-bg;
}