$primary: Tan;
$body-bg: AntiqueWhite;
$body-color: SaddleBrown;

@import '~bootstrap/scss/bootstrap.scss';

body {
    margin-top: 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
}

.form-field {
    border-color: saddlebrown;
}